:root {
  --main-color: #a18aff;
  --border-color: #ca8bfe;
  --point-pers: #fd99af;
  --point-freel: #3fd4f4;
  --point-work: #fac608;

  color: #717082;
}

.profile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.to-do-container {
  width: 90%;
  margin: auto;
  margin-top: 150px;
  border-radius: 5px;
}
.right-container {
  background-color: var(--main-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  flex-basis: 70%;
}
.left-container {
  border: 5px solid var(--main-color);
  flex-basis: 30%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.point-pers {
  color: var(--point-pers);
}

.point-freel {
  color: var(--point-freel);
}
.point-work {
  color: #fac608;
}

.border-color {
  color: var(--border-color);
}

.lineThrough {
  text-decoration: line-through;
  color: var(--border-color);
}

li {
  list-style: none;
}
